name: multi-signal-final
on:
  schedule:
    - cron: "*/20 * * * *"   # her 20 dakikada bir tarar
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install pandas numpy requests
      - name: Run Bot
        run: python multi_tf_final_safe.py
